{% assign id = include.src | strip | remove: '.'| remove: '0' | remove: '1' | remove: '2' | remove: '3' | remove: '4' | remove: '5' | remove: '6' | remove: '7' | remove: '8' | remove: '9' | split: 'com/' %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ id[1] }}" title="Click me to view the example">
  {{ include.title }}
  </button>
  <!-- Modal -->
  <div class="modal fade" id="{{ id[1] }}" tabindex="-1" aria-labelledby="{{ id[1] }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title h5" id="{{ id[1] }}">{{ include.title }}</p>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% if include.desc.size > 2 %}<div class>{{ include.desc | markdownify }}</div>{% endif %}
            <div class="mb-2"><img src="{{ include.src }}" class="img-fluid w-{{ include.size }}" alt="{{ include.title }}"></div>{% if include.pastebin %}<div class="row mb-2"><b>Import JSON button <a class="bs-popover" tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus" title="Import JSON Button" data-bs-html="true" data-bs-content="Copy the whole JSON string below. Right click on any empty space in your deck and select <b>Import JSON</b>."><i class="fas fa-question-circle fa-lg" title="Click me!"></i></a> </b><script src="https://pastebin.com/embed_js/{{ include.pastebin }}"></script></div>{% endif %}
        </div>
      </div>
    </div>
  </div>