{% assign id = include.src | strip | split: '.' %}
<a class="img-toggle" role="button" href="#{{ id[0] }}" data-bs-toggle="collapse" aria-controls="{{ id[0] }}" aria-expanded="false">
<i class="far fa-plus-square fa-2x"></i><i class="far fa-minus-square fa-2x"></i> <b>{% if include.btn != "" %}{{include.alt}} {% endif %}</b></a>
<div class="collapse row mb-2" id="{{ id[0] }}">{% assign img = "/assets/images/" | append: page.collection | append: "/" | append: include.src | relative_url %} {% assign id = include.src | strip | split: '.' %} <figure class="figure mt-1  mb-0"><img src="{{ img }}" class="figure-img img-fluid rounded w-{{ include.w }}" alt="{{ include.alt }}" title="Click to enlarge" data-bs-target="#{{ id }}-modal" data-bs-toggle="modal"></figure>
<div class="modal fade" id="{{ id }}-modal" tabindex="-1" aria-hidden="true"><div class="modal-dialog modal-xl modal-dialog-centered"><div class="modal-content"><img src="{{ img }}" class="img-fluid" alt="{{ include.alt }}"></div></div></div>
{% if include.pastebin %}<div class="row mb-2"><b>Import JSON button <a class="bs-popover" tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus" title="Import JSON Button" data-bs-html="true" data-bs-content="Copy the whole JSON string below. Right click on any empty space in your deck and select <b>Import JSON</b>."><i class="fas fa-question-circle fa-lg" title="Click me!"></i></a> </b><script src="https://pastebin.com/embed_js.php?i={{ include.pastebin }}"></script></div>{% endif %}</div>
{% comment %}
src = image file src,
alt = alternative text
w = size in percentage
pastebin = pastebin url fragment
btn not empty = include alt text in the button
{% endcomment %}


