<div class="d-none d-lg-block">
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Math Commands Examples</button>
<div class="offcanvas offcanvas-end show" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel" aria-modal="true" role="dialog" style="visibility: visible;">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Math Commands Examples</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
    <div id="dragbar"></div>
    <a href="tada" class="offcanvasbutton hide"><div class="offcanvasbutton text">COLLAPSE</div></a>
    <b>Math: Change Variable</b><br>

{% include media_collapse_tab.html w="100" name="popup5s" img="popup5s.png" img_width=100 video="popup5s.mp4" vid_width=100 alt="Popup every 5 seconds" %}
    </div>
  </div>
</div>

<!-- img = img file name, alt = h1 and alt text, video = vid file name
     img_width = image width, vid_width = video width, pastebin = pastebin url fragment
     name = unique name
-->



