{% assign id = include.src | strip | split: '.' %}
<a class="img-toggle" role="button" href="#{{ id[0] }}" data-bs-toggle="collapse" aria-controls="{{ id[0] }}" aria-expanded="false"><span class="iconCollapse"><i class="far fa-plus-square fa-2x mx-auto"></i><i class="far fa-minus-square fa-2x mx-auto"></i><b>{% if include.btn %} {{include.alt}}{% endif %}</b></span></a>
<div class="collapse" id="{{ id[0] }}"><div class="embed-responsive mb-3" ><video onclick="this.paused ? this.play() : this.pause()" controls=true class="embed-responsive-item video" width="{{ include.w }}%" src="{{ "/assets/videos/" | append: page.collection | append: "/" | append: include.src | relative_url  }}" title="{{ include.alt }}" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></video></div></div>
<!-- 
-->
{% comment %}
name = unique name
src = vid file src,
alt = alternative text
w = video width in percentage
{% endcomment %}