---
layout: main
---
{% include anchor_headings.html headerAttrs='class="anchor-header"' html=content anchorBody="#" anchorClass="anchorjs-link" anchorAttrs='data-anchorjs-icon="#" aria-label="Anchor" style="padding-left: 0.375em;"' generateId=true %}   

<div>
{% assign slug = page.title | slugify %}
{% assign slug = slug | remove: ' '  | remove: '-'| remove: ':' | remove: '.' | remove: '1' | remove: '2' | remove: '3' | remove: '4' | remove: '5' | remove: '6' | remove: '7' | remove: '8'| remove: '9' | remove: '0' %}	
<a href="{{ page.backlink }}#{{ slug }}">Back to the list</a>	
</div>


